.left-screen{
    float: left;
    position: relative;
}
#left-blue-screen{
    z-index: 10;
    position: absolute;
    top:1%;
    left: -.05%;
    width: 100%;
}
#left-blue-shelf{
    z-index: 9;
    width: 100%;
}

.text-block{
    font-size: 1em;
    z-index: 11;
    position: absolute;
    top: 20%;
    left: 14%;
    width: 75%;
}

.button{
    z-index: 12;
    height: 11%;
    background-image: url(../images/TempArt/Spoiler_Buttons110x84.png);
    text-indent: -9999px;
    display: inline-block;
    
}

.spoiler-btn{
    position: absolute;
    bottom: 2%;
    right: 8%;
    width: 11.5%;
    background-position: 28% 0;
}

.spoiler-btn:hover{
    background-position: 0px -78px;
}