#left-blue-screen{
    position: relative;
}
.text-block{
    position: absolute;
    top:125px;
    left: 125px;
    width: 600px;
}

.button{
    height: 75px;
    background-image: url(../images/TempArt/Spoiler_Buttons110x84.png);
    text-indent: -9999px;
    display: inline-block;
    
}

.spoiler-btn{
    position: absolute;
    bottom: 20px;
    right: 65px;
    width: 110px;
    background-position: -220px 0px;
}

.spoiler-btn:active{
    background-position: 0px -78px;
}